source/GameCenter_gml/options/
*.DS_Store

source/GameCenter_gml/datafiles/GMS2_Desktop_Profile.provisionprofile

output/

xcuserdata/
source/GameCenter_gml/extensions/GMGameCenter/scriptUtils.bat.bak

source/GameCenter_gml/extensions/GMGameCenter/scriptUtils.sh.bak
